{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  
  <p>
    {{ msg }}
  </p>

  <form action="/new" method="post">
  
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value={{ buggy['qty_wheels'] }} />
	
    <label for="flag_color">Colour of flag:</label>
    <input type="color" name="flag_color" value={{ buggy['flag_color'] }} />
	
	<label for="flag_color_secondary">Secondary colour of flag:</label>
    <input type="color" name="flag_color_secondary" value={{ buggy['flag_color_secondary'] }} />
	
	<label for="flag_pattern">Pattern of flag:</label>
    <select name="flag_pattern" value={{ buggy['flag_pattern'] }} >
	  <option value={{ buggy['flag_pattern'] }} selected hidden>{{ buggy['flag_pattern'] }}</option>
      <option value="Striped">Striped</option>
      <option value="Spotted">Spotted</option>
      <option value="Checkered">Checkered</option>
      <option value="Wavy">Wavy</option>
    </select>
	
    <input type="submit" class="button">
	
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
