{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  
  <p>
    {{ msg }}
  </p>

  <form action="/new" method="post">
  
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value={{ buggy['qty_wheels'] }} />
	
    <label for="flag_color">Colour of flag:</label>
    <input type="color" name="flag_color" value={{ buggy['flag_color'] }} />
	
	<label for="flag_color_secondary">Secondary colour of flag:</label>
    <input type="color" name="flag_color_secondary" value={{ buggy['flag_color_secondary'] }} />
	
	<label for="flag_pattern">Pattern of flag:</label>
    <select name="flag_pattern" value={{ buggy['flag_pattern'] }} >
      <option value="vstripe" {% if buggy['flag_pattern'] == "vstripe" %} selected {% endif %}>Vertically Striped</option>
      <option value="spot" {% if buggy['flag_pattern'] == "spot" %} selected {% endif %}>Spotted</option>
      <option value="checker" {% if buggy['flag_pattern'] == "checker" %} selected {% endif %}>Checkered</option>
      <option value="hstripe" {% if buggy['flag_pattern'] == "hstripe" %} selected {% endif %}>Horizontally Striped</option>
    </select>
	
    <input type="submit" class="button">
	
  </form>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
